tensorflow==2.18.0
# GPU acceleration for Apple Silicon M3 Pro
tensorflow-metal==1.2.0; platform_system=="Darwin" and platform_machine=="arm64"
pandas
numpy
matplotlib
seaborn
notebook
scipy
dvc
python-box==7.3.2
pyYAMl
types-PyYAMl
tqdm
ensure==1.0.4
joblib
fastapi
uvicorn
python-multipart
pillow
-e .